{% extends "auctions/layout.html" %}
{% block body %}
<div class="container py-2">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4">
      <div class="col mt-4">
          <div class="card">
              <a href="{% url 'categoryd' category_name='Electronics' %}"><img src="https://resize-image.vocus.cc/resize?norotation=true&quality=80&url=https%3A%2F%2Fimages.vocus.cc%2Fbb533c57-e184-45d7-984b-92ddd9aae355.jpg&width=740&sign=LiTX8lqCLei5AoM7Gn3h1j32KEu2vxyzDJL7RAoocuM" class="card-img-top" alt="商品圖片">
              <div class="card-body">
                  <h5 class="card-title">Electronics</h5>
                  <p class="card-text">The latest electronic devices and accessories </p>
              </div>
          </div></a>
      </div>
      <div class="col mt-4">
          <div class="card">
              <a href="{% url 'categoryd' category_name='Furniture' %}">
              <img src="https://resize-image.vocus.cc/resize?norotation=true&quality=80&url=https%3A%2F%2Fimages.vocus.cc%2Ff8342092-f420-46e5-a661-c52a9f0af44d.jpg&width=740&sign=-Kryzuf4nJOm14PRz4qKsLquhmDhnw0vwkJg3WaFDSI" class="card-img-top" alt="商品圖片">
              <div class="card-body">
                  <h5 class="card-title">Furniture</h5>
                  <p class="card-text">Premium home & office furniture</p>
              </div>
          </div></a>
      </div>
      <div class="col mt-4">
          <div class="card">
              <a href="{% url 'categoryd' category_name='Clothes' %}">
              <img src="https://resize-image.vocus.cc/resize?norotation=true&quality=80&url=https%3A%2F%2Fimages.vocus.cc%2Fecab1fdc-50cd-408c-a4ea-82230c26f7dd.jpg&width=740&sign=BZu5YqqEzudHE-Hgo_yQ4RlJBiXg1zH7cj6ARlwZPfQ" class="card-img-top" alt="商品圖片">
              <div class="card-body">
                  <h5 class="card-title">Clothes</h5>
                  <p class="card-text">A combination of fashion and comfort for all occasions.</p>
              </div></a>
          </div>
      </div>
      <div class="col mt-4">
        <div class="card">
            <a href="{% url 'categoryd' category_name='Food' %}">
            <img src="https://resize-image.vocus.cc/resize?norotation=true&quality=80&url=https%3A%2F%2Fimages.vocus.cc%2Fa70a98b3-ee38-4a4f-9737-e5520d639657.jpg&width=740&sign=FuKhutyKhMOv8rRdbU0shrCrH2BodrvBScab3Jb3MSU" class="card-img-top" alt="商品圖片">
            <div class="card-body">
                <h5 class="card-title">Food</h5>
                <p class="card-text">Fresh, delicious food for daily needs</p>
            </div></a>
        </div>
    </div>
    <div class="col mt-4">
      <div class="card">
          <a href="{% url 'categoryd' category_name='Motos' %}">
          <img src="https://resize-image.vocus.cc/resize?norotation=true&quality=80&url=https%3A%2F%2Fimages.vocus.cc%2F756ebf01-06cc-43b3-b6c2-fa760004b49e.jpg&width=740&sign=ut_Mh6yIAtSaBEBj9wfWjPCvz63G_HiU-WobUtmVxuw" class="card-img-top" alt="商品圖片">
          <div class="card-body">
              <h5 class="card-title">Motos</h5>
              <p class="card-text">Motorcycle accessories & products</p></a>
          </div>
      </div>
  </div>
  <div class="col mt-4">
    <div class="card">
        <a href="{% url 'categoryd' category_name='Toys' %}">
        <img src="https://resize-image.vocus.cc/resize?norotation=true&quality=80&url=https%3A%2F%2Fimages.vocus.cc%2Ff2f4c5e5-90b4-4b1f-aa27-9ea3d4727fa5.jpg&width=740&sign=riM8hjYzZnt7MoxmZqtpyqScfEpvmWi-mzbtGNoWldo" class="card-img-top" alt="商品圖片">
        <div class="card-body">
            <h5 class="card-title">Toys</h5>
            <p class="card-text">Includes figurines,plushies, and remote-controlled toys.</p>
        </div></a>
    </div>
  </div>
  <div class="col mt-4">
    <div class="card">
        <a href="{% url 'categoryd' category_name='Books' %}">
        <img src="https://resize-image.vocus.cc/resize?norotation=true&quality=80&url=https%3A%2F%2Fimages.vocus.cc%2F05d5b68c-1ba4-4ba9-a916-ca0a73f73e82.jpg&width=740&sign=skxyRGwODMhfDL-SqxCGFS0AAPovwfnFEa6ZQd_KiA8" class="card-img-top" alt="商品圖片">
        <div class="card-body">
            <h5 class="card-title">Books</h5>
            <p class="card-text">A wide range of books, from novels to professional literature</p>
        </div></a>
    </div>
  </div>
  <div class="col mt-4">
    <div class="card">
        <a href="{% url 'categoryd' category_name='Health & Beauty' %}">
        <img src="https://resize-image.vocus.cc/resize?norotation=true&quality=80&url=https%3A%2F%2Fimages.vocus.cc%2Fc4568d69-4e5c-49ed-b559-edf86b27d073.jpg&width=740&sign=lVK6EoRgrB2MWOYHTVLedYI1_okn1uCtpNDDHrM7BcA" class="card-img-top" alt="商品圖片">
        <div class="card-body">
            <h5 class="card-title">Health & Beauty</h5>
            <p class="card-text">Take care of your well-being with health supplements</p>
        </div></a>
    </div>
  </div>
  <div class="col mt-4">
    <div class="card">
        <a href="{% url 'categoryd' category_name='Sports' %}">
        <img src="https://resize-image.vocus.cc/resize?norotation=true&quality=80&url=https%3A%2F%2Fimages.vocus.cc%2F530222cc-8c16-4e65-b5e0-42904b105f60.jpg&width=740&sign=zra23KoI_mlEh09i7KqhIFinU2rZApYW5kHwWQBsWrk" class="card-img-top" alt="商品圖片">
        <div class="card-body">
            <h5 class="card-title">Sports</h5>
            <p class="card-text">Gear for fitness, outdoor, and sports</p>
        </div></a>
    </div>
  </div>
  <div class="col mt-4">
    <div class="card">
        <a href="{% url 'categoryd' category_name='Others' %}">
        <img src="https://resize-image.vocus.cc/resize?norotation=true&quality=80&url=https%3A%2F%2Fimages.vocus.cc%2Fe7711c8d-54f7-4c9f-88c0-a6241501f9f1.jpg&width=740&sign=8zrBgW7zKZJSokE4XcDKwrveMgwUvCbImCVbIggl6RU" class="card-img-top" alt="商品圖片">
        <div class="card-body">
            <h5 class="card-title">Others</h5>
            <p class="card-text">Practical items that meet daily needs beyond other categories</p>
        </div></a>
    </div>
  </div>
</div>
</div>


{% endblock %}